.scp_adtnalflds {
    margin: 15px 0;
    overflow:hidden;
}
.wrprtext {
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
}
.wrprfld input[type="text"], .wrprfld select {
    margin: 11px 0;
    padding: 5px 10px;
    width: 85%;
	height: 35px;
}
.wrprfld textarea {
    margin: 11px 0;
    padding: 5px 10px;
    width: 75%;
}
.wrprfld > div {
    padding: 5px 0;
}
.wrprfld > div label {
    font-size: 14px;
}
.wrprfld > span {
    float: left;
    font-size: 14px;
    width: 15%;
	margin: 17px 0 0;
}
.plugin-footer {
    margin: 20px 15px 0 0;
    border-top: 1px solid #ccc;
    text-align: right;
    padding: 8px;
}
.plugin-info {
    display: inline-block;
}
.plugin-link {
    display: inline-block;
    margin-left: 10px;
}
.widget_story_selector {
    width:100%;
}
h2.heading, div.heading {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}
.stories_page_stories-settings-page table.form-table th { width:250px; }
.import-body { width:50%; clear:both; overflow:hidden; }
.import-row { width:100%; }
.import-row .row-left { width: 63%; float: left; }
.import-row .row-right { width: 35%; float: right; }
.import-row p { margin-top:0; }
.import-row fieldset {
    border: 1px solid #cccccc;
    padding-left: 10px;
    margin-bottom: 15px;
    padding:20px;
}
.alignRight { text-align:right; }
/** Story Meta Field Styles **/
#story-mapaddress { width:50%; float:left;  }
.wrprfld > span.gmap-label { width:8%; margin-left:2%; margin-right:2%; }
#story-zipcode { width:23%; float:left; }
.scp_adtnalflds .wrprfld .half-field-width { width:50%; }
#postbox-container-2 #advanced-sortables .inside { padding:30px 50px; }
.gmap-coordinates .map-coord-label.coord-label-2 { margin-left: 2%; width: 11%; margin-right: 2%; }
.scp_adtnalflds.gmap-coordinates .map-coord-field { width: 32%; float: left; }
button.map-refresh-btn.button { height:35px; padding:5px; margin:11px 0; margin-left:3px; }
button.map-refresh-btn.button:hover { background-color:#a2d5eb; border-color:#000000; }
#map-error-msg { color: #ff0000; border: 1px solid #ff0000; padding: 10px; display:none; }
.form-table td p.cb-desc { display:inline-block; }
.form-table td p.description { font-style:italic; }
/** End of Story Meta Field Styles **/