.mapcontainer
{
    width: 100%;
	height: 350px;
    position: relative;
}
.ss-container
{
	margin-top: 0px;
    width: 100%;
	height:350px;
    position: relative;
    text-align: left;
    float: left;
	overflow: hidden;
}
#canvas_holder
{
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
}
#map_canvas
{
	width:100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#map
{
	position: relative;
	width: 100%;
	height:350px;
}

.popupcntnr {
    float: left;
    width: 100%;
}
.popupcntnr img { width: 80px;	height: auto; float: left; margin-right: 20px }
.popupcntnr .subinfo {  margin: 0px 10px; width: 100%; display: table; float: none; width: auto}
.fullpopwidth .subinfo { margin:2px 0; }
.info h4 { font-size: 17px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
