.col-md-12.pblctn_paramtr.padding_left .scp_feature_image {
    float: left;
    margin-right: 10px;
    width: 103px;
}
.col-md-12.pblctn_paramtr.padding_left .scp_feature_image .featured_item_image {
    float: left;
    width: 100%;
}
.substory_loc {
    margin-bottom: 2px;
    margin-top: -5px;
    font-size:15px !important;
}
.col-md-12.pblctn_paramtr.padding_left h3 {
    padding-bottom:0;
}
.col-md-12.pblctn_paramtr.padding_left {
    padding:15px 0;
    border-bottom: 1px solid #eaeaea;
}
.col-md-12.pblctn_paramtr.padding_left:last-child { border-bottom:none; }
.col-md-12.pblctn_paramtr.padding_left blockquote { overflow:auto; }
.stry_srch_frm { float: left; width: 90%}
.showallstories { float: left; width: 90%; margin-top: 10px; font-size:18px;}
.stry_srch_frm  input[type="text"],
.stry_srch_frm  select {
	width: 65%;
	margin-top: 5px;
	margin-left: 20px;
    /*border: 1px solid #ccc;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	 	box-sizing: border-box;
}
.stry_srch_frm  input[type="text"] { padding: 8px 10px; }
.stry_srch_frm  select { padding: 5px 10px; }
.stry_srch_frm  input[type="submit"] {
	background: #00529f;
    border: none;
    color: #fff;
    cursor: pointer;
    float: right;
    /*font-family: "Raleway-Regular";*/
    margin: 5px 0 0;
    padding: 10px 0;
    text-align: center;
    width: 125px;
	cursor: pointer;
}
.stry_srch_frm input[type="text"]:hover,
.stry_srch_frm select:hover { /*border-color: #999*/ }
.stry_srch_frm  input[type="submit"]:hover { background: #0c61b0;}
.noborder{ border: none !important; padding: 0!important;}
.nomargintop{ margin-top: 0!important}

.stry_srch_desc { font-size: 15px; padding-top:10px; }

.topics-search-box select,
#statedropdown {
    background-color: #fff;
    border: 1px solid #e57200;
    padding: 4px 4px;
    font-size: 12px;
    vertical-align: middle;
}

.slidermainwrpr { width: 100%; float: left; margin-top: 10px }
.slidersubwrpr { margin: 0 auto; width: 100%; }
.sliderimgwrpr { width: 40%; float: right; margin: 10px 10px 0px 20px; }
.sliderimgwrpr img { width: 100%; float: right; }
.sliderinnrwrap { width: 100%; float: left; }
.bxslider { margin: 0; height: 380px; }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: 20px; width: 50%; }
.bx-wrapper .bx-pager.bx-default-pager a { height: 20px; width: 20px; border-radius: 50%; }
.bx-wrapper .bx-viewport  { border: 1px solid #9fbedb; box-shadow: none; }
.slidercontentnrwrpr p { display: table; }
.slidercontentnrwrpr { margin-left: 20px; }
.bx-wrapper .bx-prev { left: -50px; }
.bx-wrapper .bx-next { right: -50px; }

.map_cntnr  { margin: 10px 0; padding-right: 0 !important}
.sldr_readmr_btn { float: left; width: 100%; }
.sldr_readmr_btn a {
	background: none repeat scroll 0 0 #00529f;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    /*font-family: "Raleway-Regular";*/
    margin: 5px 0 0;
    padding: 10px 0;
    text-align: center;
    width: 125px;
	margin: 5px 0 15px 20px;
}

.slidercontentnrwrpr h3 { font-size: 20px; line-height: 25px; margin-bottom: 8px; margin-top: 0; max-height: 53px; overflow: hidden}
.sldr_top_hdng { font-size: 18px; color: #e57200; margin-top: 10px; /*font-family: "Raleway-Bold" !important*/}
.slidercontentnrwrpr h4 { margin-bottom: 15px; margin-top: -5px; font-size:14px !important; }
.slidercontentnrwrpr h3 a { color: #000}
.map_cntnr .archive-header { float: left; width: 100%}
.map_cntnr .archive-header h1 { margin-bottom: 0}

.story_sharewidget { width: 100%; text-align: center}
.story_sharewidget .ssba a { display: inline-block;}
.ssba>div { text-align: center !important}
.stry_srch_frm .showallstories { width: 100%; margin-bottom: 10px; font-size: 15px; /*font-family: "Raleway-Regular";*/ text-align: left}

.pplrstorytags { margin-top: 25px}
.pplrstorytags li { float: left; width: 100%}
.pplrstorytags label { font-weight: normal; float: left}
.pplrstorytags input[type="checkbox"] { float: left; margin: 4px 8px 0 0;}

.topic_sidebar { float: left; width: 100%; margin-top: 20px}
.topic_sidebar ul { width: 100%; margin-top: 10px; float:left; padding-left: 0; list-style: none; }
.topic_sidebar li {
	border: 1px solid #f0f0f0;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px 10px;
}
.topic_sidebar li a { /*font-family: 'Raleway-Regular';*/ color: #00529f !important; line-height: 25px}
.blubrdr {border: 1px solid #9fbedb;}
.blubrdr h4{ /*font-family: 'Raleway-Semibold' !important;*/ color: #000}
.blubrdr ul { margin: 10px 0 !important; padding: 0 14px !important; color: #000}
.cstmaccordian {
    float: left;
    width: 100%;
}
.cstmaccordiandv .accordian_section_title,
.topic_sidebar > h5 {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 !important;
    padding: 0;
    text-decoration: none;
    color: #000;
}
.cstmaccordiandv .fa { float: left; width: 20px; line-height: 19px}
.cstmaccordiandv{ cursor: pointer;}
.cstmaccordian .tglelemnt { margin: 5px 0; float: left; width: 100%;}
.pplrstorytags span { float: left; margin-left: 5px;}
.tglelemnt > li { padding: 3px 18px; display: flex}
.tglelemnt span {
    margin: 0 0 0 7px;
}
.srchtrmbxs{
	width: 100%;
	float: left;
	margin: 10px 0 0;
}
.srchtrmbxs label { font-weight: normal; float: left}
.srchtrmbxs input[type="checkbox"] { float: left; margin: 4px 8px 0 0;}
.pplrstorytags > h5 { text-align: left;}


.pplrstorytags ul { padding: 10px !important; border: 1px solid #ccc; max-height: 213px; overflow-y: auto }
.archive-title > span { font-size: 25px;}

.story_back { margin-top:15px !important;}
.story_back a { font-size:15px; /*font-family: 'Raleway-Light' !important;*/ color: #ccc;}

.stry_srch_desc { padding-top: 0px; padding-bottom: 5px; /*font-size:13px;*/}

.stry_browse_header { font-size:18px !important; /*font-family: 'Raleway-Bold' !important;*/}
.showallstories a.btn_dwnld { padding: 15px 15px; width:175px; }
.checked{ font-size: 16px; text-decoration: underline; }
.checkedtag { border: 4px solid #f0f0f0 !important;}
.checkedtag a{ text-decoration: underline !important;}
header.tax-header {
    float: left;
    width: 100%;
}
h1.tax-title {
    float: left;
    width: auto;
    font-size: 26px;
}
h1.tax-title span {
    font-size:20px;
}
.topics-search-box {
    float: right;
    margin-bottom: 10px;
    margin-top: 25px;
    width: auto;
}
.btn_dwnld {
    margin: 15px 0 0;
    text-align: center;
    background: #e57200;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    /*font-family: 'Raleway-Regular';*/
}
.btn-load-more {
    display: block;
    background: #F78020;
    padding: 10px;
    color: #ffffff;
    text-align:center;
    cursor:pointer;
}
.btn-hidden { display:none; }
.story_sharewidgeticns .stButton span { min-height:24px; height:auto; }
.story_sharewidgeticns .st_sharethis_buttons { display:none; }
.gm-style-iw .info a:focus, .gm-style-iw .info:focus { outline:0 !important;border:none !important;box-shadow:none; }
.gm-style-iw .info h4 a { font-size:24px; }
.recent_story_image { width:30%; float:left; }
.recent_story_content { width:68%; float:right; margin-left:1%; }
.widget_recent_stories li { overflow:hidden;padding:10px 0 !important; }
.recent_story_content_full, .single_story_content { width:100%; float:none; overflow:hidden; }
.recent_story_content h3, .recent_story_content_full h3 { font-size:24px;margin-bottom:0;padding-bottom:0;line-height:1em; }
.single_story_content h3 { font-size:24px;margin-bottom:0;padding-bottom:0;padding-top:10px;line-height:1em; }
h4.recent_story_loc { line-height:1.25em;font-size:18px;padding-bottom:10px; }
.widget_recent_stories ul li:last-child { border-bottom:none !important; }
.vid-wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.vid-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.search-results article.stories {
    overflow:hidden;
    margin-bottom:15px;
}
.search-results article.stories .entry-content { overflow:hidden;margin-bottom:15px; }
.search-results article.stories .entry-meta {
    border: 1px solid #EAEAEA;
    font-size: 14px;
    color: #666666;
    margin: 0 0 20px;
}
article.stories .entry-meta span:first-child {
    border-left: none;
}
article.stories .entry-meta .by-author,
article.stories .entry-meta .date,
article.stories .entry-meta .category,
article.stories .entry-meta .comments,
article.stories .entry-meta .edit-link {
    padding: 5px 10px;
}
article.stories .entry-meta span {
    float: left;
    padding: 0 6px 0 6px;
}
article.stories .entry-meta .by-author:before {
    content: '\f304';
}
article.stories .entry-meta .by-author:before,
article.stories .entry-meta .date:before,
article.stories .entry-meta .category:before,
article.stories .entry-meta .comments:before,
article.stories .entry-meta .edit-link:before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal 18px/1 'Genericons';
    vertical-align: top;
}
article.stories .entry-meta .date:before {
    content: '\f307';
}
article.stories .entry-meta a, .type-page .entry-meta a {
    color: #666666;
}
article.stories .entry-meta .read-more-link:hover {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
article.stories .entry-meta .read-more-link {
    background-color: #f78020;
}
article.stories .entry-meta .read-more-link {
    padding: 5px 10px;
    float: right;
    border-right: none;
}
article.stories .entry-meta a.read-more, article.stories .entry-meta a.read-more:hover {
    color: #ffffff;
}
.stry_srch_frm .srchtrmbxs  input[type="text"] { padding:15px 10px; margin-left:0;margin-top:20px; }
.search_story_image { width:20%; float:left; }
.search_story_featured_image { width:225px; height:auto; }
.search_story_content { width:80%; float:right; }
.search_story_content_full h3, .search_story_content h3{ margin-bottom:0;padding-bottom:0; }
.sort-box { text-align: right; float: right; margin-top: -35px; position: relative; width: 150px; }
.sort-story { cursor:pointer; }
.sort-box .sort-selectbox { display:none; }
.sort-box .sort-options {
    color: #2980b9;
    font-size: 0.75em;
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s;
    position: absolute;
    right:0;
    overflow: hidden;
    width: 100%;
    background: #fff;
    display:none;
    border: 1px solid #cdcdcd;
    padding: 0 10px;
    background: rgba(255,255,255,0.5);
}
.sort-box .sort-options ul li { cursor:pointer; }
.sort-box .sort-options ul li.cs-selected a { color:#00529f; }
.sortoption { margin-right: 10px; font-size: 0.75em; color: #8d8d8d; }
.pblctn_right_sid_mtr { padding:0; }
.pblctn_box { width:50px; margin:-40px auto 0; outline:0; }
.pblctn_box .socl_icns {
    background: #00529f;
    font-size: 18px;
    padding: 7px 0;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 5px solid #fff;
    text-align: center;
    border-radius:30px;
    line-height:1.5em;
}
.pblctn_right_sid_mtr .col-md-12 {
    margin-top: 35px;
    border: 1px solid #00529f;
    padding: 20px;
}
.rght_sid_wdgt_hedng {
    font-size: 18px !important;
    font-weight:bold;
}
@media screen and (max-width: 992px) {
	.stry_srch_frm { width: 100%}
	.pblctn_lft_sid_img_cntnr { padding-left: 0 !important}
	.stry_srch_frm  h3 { text-align: left}

}

@media screen and (max-width: 650px) {
	.sliderimgwrpr { margin: 10px; width: auto; position: relative; max-height: 250px; overflow: hidden}
	.sliderimgwrpr:after { content: ""; position: absolute; top: 10px; right: 10px; bottom: 10px; left: 10px; background: rgba(255,255,255,.7); }
	.slidercontentnrwrpr { margin: 35px; position: absolute}
	.slidercontentnrwrpr h3 { margin-bottom: 0}

}

@media screen and (max-width: 400px) {
	.slidermainwrpr { display: none}

}
