.story-embed-box { margin-bottom:10px; }
.story-embed-content { display:table; width:100%; border-radius:5px; table-layout:fixed; min-height:400px; height:400px; }
.story-embed-desc {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding:20px;
    display:table-cell;
    vertical-align:bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.7)));
    background-image: -moz-linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#AA000000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#0000000, endColorstr=#AA000000 );
    border-radius:5px;
}
.story-embed-content h1 { font-size:2em; }
.story-embed-content h1 a { color:#fff; text-decoration:none; }
.story-embed-content h1 a:hover { color:#f1f1f1; }
.story-embed-content p { color:#fff; }
.story-embed-content p a { color:#fff; text-decoration:none !important; }